.card-list__elements {
  width: 100%;
  box-sizing: border-box;
  padding: 70px 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
}
.card-list{
  display: flex;
  flex-direction: column;
}
.card-list__message{
  align-self: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}


@media screen and (max-width: 770px) {
  .card-list__elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 415px) {
  .card-list__elements {
    padding-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}