.card{
  width: 100%;
  background-color: #222222;
  overflow: hidden;
  border-radius: 10px;
}
.card__head{
  width: 100%;
  margin-top: 14px;
  align-items: center;
  
}
.card__title{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}
.card__duration{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 10px;
}
.card__button:hover {
  cursor: pointer;
  border: 1px solid #EE3465;
  border-radius: 50%;
}
.card__button{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../../images/save-icon.svg') center no-repeat;
  background-color: #222222;
}
.card__button_active{
  background: url('../../images/save-icon-active.svg') center no-repeat;
}
.card__button_active-delete{
  background: url('../../images/delete-film.svg') center no-repeat;
}
.card__image{
  width: 100%;
  height: 203px;
  display: block;
  object-fit: cover;
}
.card__line{
  height: 1px;
  border: 0;
  margin: 0;
  margin-bottom: 6px;
  background-color: #E8E8E8;
}
.card__info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .card__image{
      height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .card__image {
      height: 168px;
  }
}