.page-not-found__title{
  width: 100%;
  margin: 246px 0 5px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000;
}
.page-not-found__info{
  width: 100%;
  margin: 0 0 184px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-align: center;
}
.page-not-found__wrap{
  display: flex;
  margin: 0 0 60px;
  justify-content: center;
}
.page-not-found__link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
}