.navigation{
  display: none;
  
}

.navigation__menu{
  display: flex;
  padding: 0;
}
.navigation__link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin-left: 20px;
  padding: 0;
  color: #FFFFFF;
}

.navigation__link:hover{
  opacity: .8;
}
.navigation__link{
  margin-left: 0
}
.navigation__link_active{
 font-weight: 500;
}
.navigation__profile-link_active{
  font-weight: 500;
}
.navigation__profile-link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
.navigation__profile-link:hover{
  opacity: .8;
}
.navigation__profile{
  width: 100px;
  height: 30px;
}
.navigation__profile-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigator__icon{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: #313131;
}
.navigation__popup_opened{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}
.navigation__close{
  position: fixed;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.navigation__close-icon{
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 770px) {
  .navigation {
    padding-top: 159px;
  }
  .navigation_opened{
    width: 520px;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: #202020;
    ;
    z-index: 1;
  }

  .navigation_closed {
    display: none;
  }

  .navigation__link {
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 28px;
  }


  .navigation__link_active {
    border-bottom: 2px solid #FFFFFF;
  }

  .navigation__menu {
    flex-direction: column;
    align-items: center;
  }

  .navigation__profile{
    margin-left: auto;
    margin-right: auto;
    margin-top: 444px;
  }

  
}

@media screen and (max-width: 520px) {
  .navigation {
    padding-top: 144px;
  }
  .navigation_opened{
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .navigation__link {
    margin-bottom: 24px;
  }
}
