.header{
  width: 100%;
  height: 74px;
  padding-left:70px;
  padding-right:70px;
  padding-top: 18px;
  box-sizing: border-box;

}
.header__logout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link_signin{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}
.header__link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-left: 16px;
}

.header_theme_dark{
  background-color: #073042;
}
.header_theme_black{
  background-color: #202020;
}
.header__button{
  width: 76px;
  height: 32px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  border: none;
  margin-left: 30px;
  background-color: #2BE080;

}
.header__logo{
  width: 38px;
  height: 38px;
}
.header__link:hover{
  opacity: .8;
}
.header__logo:hover{
  opacity: .8;
}

.header__block{
  display: none;
}
.header_block_sign{
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 3px;
  top: 11px;
}
.header__block:hover{
  cursor: pointer;
  opacity: .5;
}

.header__burger-button {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background: transparent url('../../images/burger-button-icon.svg') no-repeat center center;

  cursor: pointer;
}
.header__links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0;
}
.header__menu{
  display: flex;
  align-items: center;

}

.header__link_active{
  font-weight: 600;
}
.header__profile-button{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  /* background: transparent url('../../images/profile-icon.svg') no-repeat center center; */
  cursor: pointer;
  background-color: #313131;
  margin-left: 17px;
}

@media screen and (max-width: 770px) {
  .header{
    display: flex;
    padding-left:30px;
    padding-right:30px;
    padding-top: 18px;
    justify-content: space-between;
  }
  /* .header__movies{
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    padding-right:30px;
  } */

  .header__block {
    display: block;
    position: relative;
    width: 28px;
    height: 44px;
  }

  .header__block_sign {
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
  }

  .header__block:before,
  .header__block:after {
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .header__block:before {
    top: 21px;
  }

  .header__block:after {
    bottom: 10px;
  }

  .header__block:hover {
    cursor: pointer;
    opacity: .5;
  }
  .header__movies{
    padding: 0 30px;
  }
}

@media screen and (max-width: 415px) {
  .header{
    padding-left:14px;
    padding-right:14px;
    padding-top: 18px;

  }
  .header__button{
    margin-left: 14px;

  }
  /* .header__movies{
    padding: 0 14px;
    
  } */
  
}