.filter {
  width: 207px;
  height: 20px;
  display: flex;
  box-sizing: border-box;
  padding: 0 30px 0 9px;
}

.filter__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-left: 15px;
  color: #FFFFFF;
}


.filter__box {
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
}

.filter__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 20px;
  background-color: #EBEBEB;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  transition: .4s;
  border-radius: 50%;
  background-color: #fff;
}
.filter__switch{
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.filter__box:checked + .filter__slider {
  background-color: #2BE080;
}

.filter__box:focus + .filter__slider {
  box-shadow: 0 0 1px #2BE080;
}

.filter__box:checked + .filter__slider:before {
  transform: translateX(16px);
}

@media screen and (max-width: 770px) {
  .filter {
    width: 188px;
    padding: 0 20px 0 0;

  }
}

@media screen and (max-width: 450px) {
  .filter__name {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
  }

  .filter {
    width: 148px;
    position: absolute;
    left: calc((100% - 148px) / 2);
    bottom: -65px;
    padding: 0;
    margin: 0;
  }
}